.post {
    /*width: 100%;*/
    margin-bottom: 0.4rem;
    background-color: $mainWhite;
    
    &__header {
        padding: 0.375rem 0.375rem 0;
        @mixin fontPoppins;

        &__h3 {
            margin: 0;
            padding-left: 0.1rem;
            color: $textOrange;

            &--centered {
                text-align: center;
            }
        }

        &__small-heading {
            color: #8e8e8e;
            margin-top: 0.3rem;
            margin-bottom: 0;
            padding-left: 0.1rem;
            padding-bottom: 0.3rem;
            display: inline-block;
            width: 100%;
            border-bottom: 2px solid #c3c3c3;
        }
    }

    &__body {
        padding: 0.7rem 0.375rem 0.7rem;
        @mixin fontPoppins;
        
        &__p {
            margin: 25px 0;

            &--justified {
                text-align: justify;
            }
        }

        &__p:first-Child {
            margin-top: 0;
        }

        &__p:last-Child {
            margin-bottom: 0;
        }
    }
}

.post:last-child {
    margin-bottom: 0rem;
}

@media (min-width: 419px) {
    .post {
        border-radius: 0.2rem;

        &__header {
            padding-right:  0.625rem;
            padding-left:  0.625rem;

            &__h3 {
                font-size: 1.3rem;
            }
        }

        &__body {
            padding-right:  0.625rem;
            padding-left:  0.625rem;
        }
    }    
}

@media (min-width: 768px) {
    .post {
        border-radius: 0.2rem;
        margin-bottom: 0.9375rem;

        &__header {

            &__h3 {
                font-size: 1.5rem;
            }
        }
    }    
}