<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP|Poppins:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/home-page-bundled.css">
</head>
<body>
    <header>
        <picture class="jumbotron">
                <source srcset="/public/img/jumbotron/jumbo-1200.jpg" media="(min-width: 992px)">
                <source srcset="/public/img/jumbotron/jumbo-992.jpg" media="(min-width: 768px)">
                <source srcset="/public/img/jumbotron/jumbo-768.jpg" media="(min-width: 576px)">
                <source srcset="/public/img/jumbotron/jumbo-576.jpg" media="(min-width: 419px)" >
                <img class="jumbotron__img" srcset="/public/img/jumbotron/jumbo-419.jpg">
        </picture>
        <div class="slogen">
            <div class="slogen__relative-container">
                <div class="slogen__relative-container__h3">360 ezret Ausztriaban vendeglatoskent?<br>Megcsinaljuk Neked!</div>
                <div class="slogen__relative-container__background"></div>
            </div>
        </div>
    </header>

    <section class="container main-info-area">
        <div class="row">

            <div class="info-feed col-btm-12 col-gutter-z-btm-both col-gutter-s-sm-both col-md-8 col-gutter-n-md-both">
                
                <div class="post fasz">
                    <div class="post__container">
                        <div class="post__header">
                            <h3 class="post__header__h3 post__header__h3--centered">Itt Egy lehetoseg arra, hogy elhelyezkedj Ausztriaban</h3>
                        </div>

                        <div class="post__body">
                            <p class="post__body__p post__body__p--justified">Kérlek, hogy most pár percre csak rám figyelj, mert ez egy komoly lehetőség. Ha hiszed, ha nem, akár egy-két héten belül Ausztriában dolgozhatsz egy szállodában, mint mosogató/konyhai kisegítő/szobalány/szakács/felszolgáló. Biztos lenne hozzá kedved, hiszen ezért jelentkeztél hozzánk...</p>
                            <p class="post__body__p post__body__p--justified">Vágjunk is bele, mert nem szeretném az idődet rabolni!</p>
                            <p class="post__body__p post__body__p--justified">Ha legalább a megértetés szintjén kommunikálsz németül és akkor sem futamodsz meg, ha telefonon kell egy osztrák munkaadóval beszélgetned, akkor velünk biztosan célba érsz!</p>
                        </div>
                    </div>
                </div> <!-- post end -->

                <div class="post">
                    <div class="post__container">
                        <div class="post__header">
                            <h3 class="post__header__h3">Itt Egy lehetoseg arra, hogy elhelyezkedj Ausztriaban</h3>
                        </div>

                        <div class="post__body">
                            <p class="post__body__p">Kérlek, hogy most pár percre csak rám figyelj, mert ez egy komoly lehetőség. Ha hiszed, ha nem, akár egy-két héten belül Ausztriában dolgozhatsz egy szállodában, mint mosogató/konyhai kisegítő/szobalány/szakács/felszolgáló. Biztos lenne hozzá kedved, hiszen ezért jelentkeztél hozzánk...</p>
                            <p class="post__body__p">Vágjunk is bele, mert nem szeretném az idődet rabolni!</p>
                            <p class="post__body__p">Ha legalább a megértetés szintjén kommunikálsz németül és akkor sem futamodsz meg, ha telefonon kell egy osztrák munkaadóval beszélgetned, akkor velünk biztosan célba érsz!</p>
                        </div>
                    </div>
                </div> <!-- post end -->
            </div> <!-- info-feed end -->


            <aside class="widgets col-btm-12 col-gutter-s-sm-both col-md-4 col-gutter-z-md-left col-gutter-n-md-reight col-gutter-n-lg-both">

                <div class="communication">
                    <div class="communication__header">
                        <h3 class="communication__header__h3 communication__header__h3--centered">Kérdezz tőlünk bátran</h3>
                    </div>
                    <div class="communication__form">
                        <input class="communication__form__input" type="text" name="name" placeholder="teljes neved">
                        <input class="communication__form__input" type="text" name="email" placeholder="e-mail címed">
                        <input class="communication__form__input" type="tel" name="telephone number" placeholder="telefonszamod">
                        <textarea class="communication__form__text-area" name="message" cols="30" rows="10" placeholder="Ha barmi kerdesed van irj nekunk itt es mi maximum par oran belul valaszolunk neked"></textarea>
                        <button type="button" class="btn btn--block communication__form__btn">Kuld el a kerdesed:)</button>
                    </div>
                </div>

            </aside>

        </div> <!-- row -->
    </section> <!-- main-info-area end -->

    <footer class="footer">
        <div class="container">
            <div class="row">

                <div class="col-btm-12 col-xs-4 col-md-offset-1 col-gutter-md-right">
                    <div class="footer__info-item">
                        <img class="footer__info-item__img" src="/public/img/logo.png" alt="logo">  
                    </div>
                </div>

                <div class="col-btm-12 col-xs-4 col-gutter-md-left">
                    <div class="footer__info-item">
                        <h4 class="footer__info-item__title">Elérhetőség</h4>
                        <ul class="footer__info-item__ul">
                            <li><strong>Email:</strong> bgfkszmsdeli@gmail.com</li>
                            <li><strong>tel:</strong> 0630 58399 44</li>
                        </ul>
                    </div>
                </div>

                <div class="col-btm-12 col-xs-3">
                    <div class="footer__info-item">
                        <h4 class="footer__info-item__title">Linkek</h4>
                        <ul class="footer__info-item__ul">
                            <li><a class="footer__info-item__ul__a" href="#">About Us</a></li>
                            <li><a class="footer__info-item__ul__a" href="#">Blog</a></li>
                            <li><a class="footer__info-item__ul__a" href="#">Impressum</a></li>
                        </ul>
                    </div>
                </div>

            </div> <!-- row end -->
        </div> <!-- contianer end -->
    </footer>

    <div class="modal" style="display: none;">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-btm-12 col-gutter-s-btm-both col-gutter-n-xs-both">
                    <div class="modal__head clearfix">
                        <h3 class="modal__head__h3 modal__head__h3--centered">Ragad meg az alkalmat es jelentkezz, hogy minnel elobb euroval legyenek kitomve a zsebeid</h3>
                        <p class="modal__head__p">X</p>
                    </div>
                    <div class="modal__body">
                        <button href="#" class="btn btn--block modal__body__btn">Go to Google</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>